table { font-size:0.9em; border-collapse:collapse; border-bottom:1px solid #555; }
h2 { font-size:1.3em; margin-bottom: 0.25em;}
div#counters {margin-bottom: 1.5em;}
tr { background:#FFF; }
tr.stripe { background-color:#F3F3FA; }
th, td { vertical-align:top; text-align:left;}
tbody.matches a { padding:0.25em; text-decoration:none; display:block; font-weight: inherit; color: inherit;}
tbody.matches a:hover { background-color:#C4E2FF; }
th {background-color: rgb(234,234,234); padding: 0.5em;}
tr.context td:first-child, tr.content td:first-child {width: 1em; text-align: right; padding: 0.25em 0.5em; font-family: courier ! important; background-color: rgb(234,234,234);}
tr.break td:first-child { background:#FFF;}
pre { margin:0px; padding: 0px; }
td { vertical-align:top; white-space:nowrap; }
tr.content td, tr.content th { color: #000; font-weight: 500;}
tr.context td, tr.context { color: #666; font-weight: 100;}
td strong { font-weight:600; background:#F6D73A; }
